.container_brown {
  background-color: #605858;
}

.eta_block {
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 16px;
}

.eta-text {
  font-size: 26px;
  font-weight: 500;
}

.order-id {
  font-size: 15px;
  color: white;
}
