@import "./reset.css";
@import "./fonts.css";

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 16px;
  padding-right: 16px;
}
